:root {
  --background: #262626;
}

body {
  background-color: var(--background);
  color: #ccc;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.invisible {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.visible {
  opacity: 1 !important;
}

button {
  background-color: #626262;
  border: none;

  font-size: 1.5em;
  border-radius: 10px;

  width: 40%;
  min-width: 100px;
  max-width: 250px;

  cursor: pointer;
}

input {
  border: none;
  background-color: #ccc;

  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
}

form {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 15px;

  font-size: 22px;
}

.unit_fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.time_fieldset {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.time_fieldset legend {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  button,
  input,
  label {
    font-size: 1em;
  }

  input {
    padding: 2px;
    font-size: 1em;
    width: 3em;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.spinner {
  border: 4px solid #fff;
  border-top: 4px solid #3498db;
  border-radius: 500px;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}